[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AIscreenR"]
	path = AIscreenR
	url = https://github.com/mikkelvembye/aiscreenr
[submodule "POMADE"]
	path = POMADE
	url = https://github.com/mikkelvembye/pomade
